.App {
  text-align: center;
}

.App .container {
  margin-top: 5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
 display: flex;
}

.card {
  width: 100%;
}

mark {
  padding: 0;
  background-color: #ffd703;
}

.Navbar-logo {
  height: 3rem;
}

.RecipeItem a {
  color: #495057;
}

.RecipeItem a:hover {
  color: #495057;
  text-decoration: none;
}

.RecipeItem .card:hover {
  border: 2px solid #495057;
}